table {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

table tr {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgba(156, 152, 152, 0.1);
}

table th {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--border-color);
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    font-family: 'Tilt Neon', sans-serif;
}

table td {
    padding: 10px 11px;
    margin: 0;
    text-align: left;
    font-size: small;
    white-space: wrap;
}

table td i {
    font-style: normal;
}

table tr:nth-child(even) {
    background-color: rgba(49, 49, 235, 0.05);
}

table td .link {
    text-decoration: none;
    cursor: pointer;
}

table .btn-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    gap: 10px;
}

table button {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 18px;
    font-weight: 400;
    color: var(--text-color-black);
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

table button.danger {
    color: var(--text-color-black);
}

table button.danger:hover {
    color: var(--text-color-red);
}

table button.edit {
    color: var(--text-color-black);
}

table button.edit:hover {
    color: var(--text-color-blue);
}