.pre-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid rgba(156, 152, 152, 0.2);
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 0;
}

.pre-pagination span,
.pagination span {
    width: fit-content;
    height: auto;
    padding: 0;
    margin: 0;
    font-size: small;
}

.pre-pagination input,
.pagination input {
    width: 40%;
    height: auto;
    padding: 10px 10px;
    margin: 0;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
}

.pre-pagination select,
.pagination select {
    height: auto;
    padding: 10px 10px;
    margin: 0;
    border: 1px solid #cccccc98;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--background-color);
    outline: none;
    font-family: "Inter", sans-serif;
}

.pre-pagination button {
    position: relative;
    height: auto;
    padding: 10px 12px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color);
    border: none;
    background-color: var(--background-color);
    outline: 1px solid #8f8f8f;
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}

.pre-pagination button .tooltip {
    display: none;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: max-content;
    height: auto;
    padding: 5px 10px;
    margin: 0;
    border-radius: 5px;
    font-size: small;
    font-weight: 600;
    color: rgb(243, 237, 237);
    background-color: rgb(28, 29, 51);
    box-shadow: 0px 0px 10px -2px rgb(28, 29, 51);
    transition: all 0.2s ease-in-out;
}

.pre-pagination button .tooltip::after {
    content: "";
    position: absolute;
    top: 95%;
    left: 48%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(28, 29, 51) transparent transparent transparent;
}

.pre-pagination button.bg-orange,
.pagination button.bg-orange {
    background-color: #ffa500;
    color: #f3eded;
    border: none;
    outline: 1px solid #ffa500;
}

.pre-pagination button.bg-orange:hover,
.pagination button.bg-orange:hover {
    background-color: #ffa600e1;
    color: #fff;
    border: none;
    outline: 1px solid #ffa600e1;
}

.pre-pagination button.bg-blue,
.pagination button.bg-blue {
    background-color: #3131eb;
    color: #f3eded;
    border: none;
    outline: 1px solid #3131eb;
}

.pre-pagination button.bg-blue:hover,
.pagination button.bg-blue:hover {
    background-color: var(--text-color-blue);
    color: #fff;
    border: none;
    outline: 1px solid var(--text-color-blue);
}

.pre-pagination button.bg-red,
.pagination button.bg-red {
    background-color: var(--text-color-red);
    color: #f3eded;
    border: none;
    outline: 1px solid var(--text-color-red);
}

.pre-pagination button.bg-red:hover,
.pagination button.bg-red:hover {
    background-color: var(--text-color-red);
    color: #fff;
    border: none;
    outline: 1px solid var(--text-color-red);
}

.pre-pagination button:hover,
.pagination button:hover {
    background-color: var(--text-color-blue);
    outline: 1px solid var(--text-color-blue);
    color: #fff;
    cursor: pointer;
}

.pre-pagination button.active,
.pagination button.active {
    background-color: var(--text-color-blue);
    outline: 1px solid var(--text-color-blue);
    color: #fff;
    cursor: pointer;
}

.pagination button {
    position: relative;
    height: auto;
    padding: 10px 12px;
    margin: 0 0 0 10px;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    color: var(--text-color-theme);
    border: none;
    background-color: transparent;
    outline: none;
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}

.pre-pagination button:disabled,
.pagination button:disabled,
.pre-pagination button:disabled:hover,
.pagination button:disabled:hover {
    background-color: #cccccc98;
    outline: none;
    color: rgba(0, 0, 0, 1);
    cursor: not-allowed;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}

.pre-pagination button[disabled],
.pagination button[disabled],
.pre-pagination button[disabled]:hover,
.pagination button[disabled]:hover {
    background-color: #cccccc98;
    outline: none;
    color: rgba(0, 0, 0, 1);
    cursor: not-allowed;
    box-shadow: 0px 0px 10px -2px rgba(211, 208, 208, 0.2);
}